<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Turbo</title>

    <link rel="stylesheet" type="text/css" href="/bower_components/inspectorJson/inspector-json.css">
    <link rel="stylesheet" type="text/css" href="/dist/main.css">

    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/inspectorJson/inspector-json.js"></script>

    <script src="/dist/namespace.js"></script>
    <script src="/dist/app/view.js"></script>
    <script src="/dist/app/messenger.js"></script>
    <script src="/dist/app/bindings.js"></script>
    <script src="/dist/app/contexts.js"></script>
    <script src="/dist/app/app.js"></script>

    <script src="/dist/inject.js"></script>
  </head>

  <body class="vbox viewport">
    <section class="main hbox">
      <ol class="sidebar">
        <li class="sidebar-item">TURBO</li>
        <li data-section="bindings" class="sidebar-item">Bindings</li>
        <li data-section="contexts" class="sidebar-item">Contexts</li>
      </ol>

      <div class="content"></div>
    </section>
  </body>
</html>