$black: rgb(48, 57, 66);
$blue: rgb(56, 121, 217);

$gray: rgb(64%, 64%, 64%);
$light-gray: rgb(232, 232, 232);

body {
  color: $black;
  font-family: 'Lucida Grande', sans-serif;
  font-size: 12px;
}

html, body, .viewport {
  margin: 0;
  height: 100%;
  width: 100%;
}

.hbox {
  display: flex;
  flex-direction: row;
}

.vbox {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.main {
  flex: 1;
}

.full {
  width: 100%;
}

.sidebar {
  flex-basis: 200px;
  background-color: $light-gray;
  margin: 0;
  padding: 0;
  list-style: none;
  border-right: 1px solid $gray;

  .sidebar-item {
    height: 18px;
    padding: 6px 10px 6px 10px;
    margin-top: 1px;
    text-shadow: rgba(255, 255, 255, 0.75) 0 1px 0;

    &:hover {
      cursor: pointer;
    }
  }

  .selected {
    color: white;
    text-shadow: rgba(0, 0, 0, 0.33) 1px 1px 0;
    background-color: rgb(56, 121, 217);
    background-origin: padding-box;
    background-clip: padding-box;
  }
}

.content {
  flex: 1;
  padding: 0px 15px;
}

h1 {
  color: rgb(110, 116, 128);
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 3px;
}

header {
  margin: 12px 0;
}

.table {
  width: 100%;
  border-collapse: collapse;

  input {
    outline: 0;
    font-size: 16px;
    border: 0;
    flex: 1;
  }

  .body {
    padding: 0;
    margin: 10px 0;
    list-style: none;

    .col {
      padding: 0.5rem;
      text-align: left;
      flex: 1;
    }
  }
}

.striped li:nth-child(odd) {
   background-color: $light-gray;
}

.comment {
  color: $gray;
  font-style: italic;
  font-size: 14px;
}